################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SchoolTracker.Core.Api/.vs
/SchoolTracker.Core.Api/Controllers/ValuesController.cs
/.vs
/SchoolTracker.Core.Api/bin/Debug/netcoreapp2.1
/SchoolTracker.Core.Api/obj
